/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  .header-buttons {
  text-align: center;
  margin-top: 20px;
}

.btn-header {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-header:hover {
  background-color: #555;
}
}


nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.post {
  margin-bottom: 30px;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  main {
    padding: 10px;
  }

  footer {
    padding: 5px;
  }
}
